<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EasyCash</a>
    </div>

  </div>
</nav>
<div class="panel panel-default">
  <div class="panel-heading">
     <h2>Hi Alice!</h2>
  </div>
  <div class="panel-body">
   <h3>What would you like to do?</h3>
  </div>
   
    <ul class="pager">
    <form id="form" method="get">From User<br>
      <input type="text" name="user2" id="user2"><br> Amount:
      <br>
      <input type="text" name="amount" id="amount">
      <br><br>
      <input type="hidden" name="user1" id="user1" value="Alice">
      <input type="submit">
    </form>
    </ul>