<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EasyCash</a>
    </div>
  </div>
</nav>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Hi Bob!</h2>
  </div>
  <div class="panel-body">
    <h3>Alice would like to withdraw 10.00 euros </h3>
  </div>



  <ul class="pager">
    <li><a href="#"> Proceed?</a></li>

  </ul>
  <!--<form id="bobform" method="get">
          Proceed?
          <div class="form-group">
            <input type="hidden" name="Approve" id="Approve" value="Approve">
            <input type="submit" name="Approve">
          </div>
        </form>-->
</div>

<div class="row">
  <div class="col-md-3">
    <!--<img src="/assets/images/easycash_logo.png" alt="" />-->
  </div>
  <div class="col-md-6">




  </div>

  <form id="form" />